@use "./responsive" as res;

.book-detail {
  min-height: 55vh;
  max-width: 1100px;
  margin: 30px auto;
  padding: 20px;
  background-color: #ededed;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .book-header {
    text-align: center;
    margin-bottom: 20px;

    h1 {
      font-size: 2.5rem;
      color: #333;
      margin-bottom: 10px;
    }

    .authors {
      font-size: 1.1rem;
      color: #777;
    }
  }

  .book-main {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 30px;

    .book-image {
      flex: 1;
      img {
        border: 1px solid;
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    }

    .book-info {
      flex: 2;
      font-size: 1.1rem;
      line-height: 1.6;

      p {
        margin-bottom: 15px;
        color: #333;

        strong {
          color: #d30026;
        }
      }
    }
  }

  .book-excerpt {
    blockquote {
      font-size: 1.2rem;
      font-style: italic;
      color: #555;
      border-left: 4px solid #d30026;
      padding-left: 15px;
      margin-left: 0;
    }
  }
}
