.books-section {
  background: linear-gradient(135deg, #f0f0f0, #dcdcdc);
  padding-bottom: 80px;
}

#search-form {
  background-color: #c90024;
  padding: 20px 15px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
  margin-bottom: 70px;

  input {
    border: none;
    border-radius: 6px;
    padding: 5px 3px;
  }

  button {
    border: none;
    border-radius: 6px;
    padding: 5px 3px;
    color: white;
    background-color: black;
  }
}

.featured-books-wrapper,
.result-books-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1200px;
  padding: 10px;
  margin: auto;
  gap: 50px;

  .book-item {
    display: flex;
    flex-direction: column;
    width: calc(33.333% - 33.333px);
    min-width: 250px;
    min-height: 100%;
    text-align: center;
    align-items: center;
    gap: 2rem;
    position: relative;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: white;

    p {
      font-weight: bold;
      font-size: 1.1rem;
      margin-left: 5px;
      margin-right: 5px;
    }

    img {
      width: 70%;
      height: 300px;
      object-fit: cover;
      border-radius: 3px;
      border: 1px solid black;
    }
  }
}