@use "./responsive" as res;

.home-wrapper {
  display: flex;
  flex-direction: column;
  gap: 70px;

  @include res.mobile {
    gap: 40px;
  }
}

.swiper-pagination-bullet {
  background: gray;
  opacity: 0.6;
}

.swiper-pagination-bullet-active {
  background: black !important;
  opacity: 1;
}